<!DOCTYPE html>
<html lang="en" ng-app="myModule">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--     <link rel="stylesheet" href = "boostrap/css/bootstrap.css">
    <link rel="stylesheet" href="style.css" /> -->
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <style>
    td{border: 1px solid black; padding: 5px;}
    table{border-collapse: collapse;}
    body{font-family: Arial}
    th{border: 1px solid black; padding: 5px; text-align: left; cursor: pointer;}
    .arrow-down{
      width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 10px solid black; display: inline-block;
    }
    .arrow-up{
      width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 10px solid black; display: inline-block;
    }
    </style>
  </head>

  <body ng-controller="myController">
    <div>
    {{ employees[0].firstName }}
    </div>
    Rows to Display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit"/>
    <br/>
    <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Likes</th>
              <th>Dislikes</th>
              <th>Like/Dislike</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="technology in technologies">
              <td>{{ technology.name }}</td>
              <td>{{ technology.likes }}</td>
              <td>{{ technology.dislikes }}</td>
              <td>
                <input type="button" value="Like" ng-click="incrementLikes(technology)">
                <input type="button" value="Dislike" ng-click="incrementDislikes(technology)">
              </td>
          </tr>
      </tbody>
    </table>
    <table>
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees | limitTo: rowLimit">
              <td>{{ employee.firstName | uppercase }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.gender | lowercase }}</td>
              <td>{{ employee.salary | number:4 }}</td>
          </tr>
      </tbody>
    </table>
    Order By: <select ng-model="sortColumn">
      <option value="name">Name ASC</option>
      <option value="gender">Gender</option>
      <option value="salary">Salary ASC</option>
    </select>
    <table>
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees | orderBy:sortColumn">
              <td>{{ employee.firstName | uppercase }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.gender | lowercase }}</td>
              <td>{{ employee.salary | number:2 }}</td>
          </tr>
        </tbody>
    </table>
        <br />
    Sort by clicking table head
    <table>
        <thead>
          <tr>
              <th ng-click="sortData('firstName')">First Name
                <div ng-class="getSortClass('firstName')"></div>
              </th>
              <th ng-click="sortData('lastName')">Last Name
                <div ng-class="getSortClass('lastName')"></div>
              </th>
              <th ng-click="sortData('gender')">Gender
                <div ng-class="getSortClass('gender')"></div>
              </th>
              <th ng-click="sortData('salary')">Salary
                <div ng-class="getSortClass('salary')"></div>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees | orderBy:sortColumn:reverseSort">
              <td>{{ employee.firstName | uppercase }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.gender | lowercase }}</td>
              <td>{{ employee.salary | number:2 }}</td>
          </tr>
        </tbody>
    </table>
    <br />
    Search: <input type="text" placeholder="Search Table" ng-model="searchText" /> <!-- add .PROPERTY_NAME to searchText to search a specific column for example "searchText.salary" or "searchText.firstName" -->
    <br />
        <table>
        <thead>
          <tr>
              <th>First Name
                <div></div>
              </th>
              <th>Last Name
                <div></div>
              </th>
              <th>Gender
                <div></div>
              </th>
              <th>Salary
                <div></div>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees | filter:searchText">
              <td>{{ employee.firstName | uppercase }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.gender | lowercase }}</td>
              <td>{{ employee.salary | number:2 }}</td>
          </tr>
        </tbody>
    </table>
    <br />
    <input type="text" placeholder="Search Name" ng-model="searchText.firstName" />
    <input type="text" placeholder="Search City" ng-model="searchText.city" />
    <input type="checkbox" ng-model="exactMatch" /> Exact Match
    <input type="checkbox" ng-model="hideSalary" /> Hide Salary
    <br />
    <table>
        <thead>
          <tr>
              <th>First Name
              </th>
              <th>Last Name
              </th>
              <th>Gender
              </th>
              <th ng-hide="hideSalary">Salary
              </th>
              <th ng-show="hideSalary">Salary
              </th>
              <th>City
              </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees | filter:searchText:exactMatch">
              <td>{{ employee.firstName }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.gender }}</td>
              <td ng-hide="hideSalary">{{ employee.salary | number:2 }}</td> <!-- Could also use ng-hide="hideSalary" -->
              <td ng-show="hideSalary">######</td>
              <td>{{ employee.city }} </td>
          </tr>
        </tbody>
    </table>
    ng-include example
    <div ng-include="'employeeTable.html'"> <!-- This won't work unless on a server (such as going to the directory in terminal and type python -m SimpleHTTPServer) -->
    </div>
    <table>
      <tr>
        <td>
  </body>

</html>
